@font-face {
  font-family: 'Akira Expanded';
  src: url('../assets/fonts/Akira-Expanded-Demo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.akira-font {
  font-family: 'Akira Expanded', Arial, Helvetica, sans-serif;
}